<div class="row">
  <div>
    <input class="input-data-upload" type="file" #file (change)="fileChange($event)"/>
    <button class="btn btn-outline-secondary" type="button" (click)="file.click()"> Load Chat</button>
  </div>
  <div>
    <p class="title-name" *ngIf="dataService.titleName">Current Chat: {{dataService.titleName}}</p>
  </div>
</div>

