<div class="row mg-bottom" *ngFor="let row of chatParticipants">
  <ng-container *ngFor="let chatParticipant of row">
    <app-cards class="col-xs-12 col-md-2" [cardData]="chatParticipant"></app-cards>
  </ng-container>
</div>



