<!--Card-->
<div ngClass="card card-size {{cardData.isActive}}">

  <!--Card image-->
  <div class="view">
    <img src="https://mdbootstrap.com/img/Photos/Fluent/img(3).jpg" class="card-img-top" alt="photo">
  </div>

  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <h4 class="card-title font-weight-bold">{{data.name}} </h4>

    <!--Text-->
    <ul id="card-details" ngClass="cardDetails-{{data.name}} {{cardData.isOpen}}">
      <li>
        <label class="card-label">Active</label>
        <p class="card-text card-item">{{data.active}} </p>
      </li>
      <li>
        <label class="card-label">First Message</label>
        <p class="card-text card-item">{{data.firstMessage.formatted}} </p>
      </li>
      <li>
        <label class="card-label">Last Message</label>
        <p class="card-text card-item">{{data.lastMessage.formatted}} </p>
      </li>
      <li>
        <label class="card-label">Total Messages</label>
        <p class="card-text card-item">{{data.messageCount}} </p>
      </li>
      <li>
        <label class="card-label tool-tip-label">Messages Per Day
          <button type="button" class="m-1 tool-tip" data-toggle="tooltip" data-placement="right" title={{cardData.AMPDTT}}>
            <i class="fa fa-info-circle tool-tip-font-awesome" aria-hidden="true"></i>
          </button>

        </label>

        <p class="card-text card-item">{{data.averageMessagePerDay}} </p>
      </li>
      <li>
        <label class="card-label">Total Photos</label>
        <p class="card-text card-item">{{data.photosCount}} </p>
      </li>
      <li>
        <label class="card-label">Total Videos</label>
        <p class="card-text card-item">{{data.videoCount}} </p>
      </li>
      <li>
        <label class="card-label">Total Gifs</label>
        <p class="card-text card-item">{{data.gifsCount}} </p>
      </li>
      <li>
        <label class="card-label">Total Links</label>
        <p class="card-text card-item">{{data.shareCount}} </p>
      </li>
      <li>
        <label class="card-label">Total Stickers</label>
        <p class="card-text card-item">{{data.stickerCount}} </p>
      </li>
      <li>
        <table class="table table-borderless">
          <thead>
          <tr>
            <th scope="col">Received</th>
            <th scope="col">Count</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let received of data.reactions.received">
            <td>{{received.emoji}}</td>
            <td>{{received.count}}</td>
          </tr>
          </tbody>
        </table>
      </li>
      <li>
        <table class="table table-borderless">
          <thead>
          <tr>
            <th scope="col">Given</th>
            <th scope="col">Count</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let given of data.reactions.given">
            <td>{{given.emoji}}</td>
            <td>{{given.count}}</td>
          </tr>
          </tbody>
        </table>
      </li>



    </ul>


    <button class="collapse-button m-1" type="button" onclick="" aria-expanded="false"
            (click)="toggleCollapse()"
            aria-controls="multiCollapseExample1 multiCollapseExample2">
      <i class="fa fa-window-minimize fa-2x minimize" aria-hidden="true"></i>
    </button>


  </div>

</div>
<!--/.Card-->
