.card-size {
  margin: 1rem;
  /*width: 25%;*/
}

.card-inactive {
  opacity: 0.4;
}

.card-label {
  margin-bottom: -2rem;
  font-size: 1rem;
  font-weight: 600;
}

.card-item {
  margin-left: 1rem;
}

.collapse-button {
  line-height: 12px;
  /*width: 18px;*/
  font-size: 8pt;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
  background-color: transparent;
  border-color: transparent;
}

.minimize {
  color:#fff;
  margin-top: -1rem;
}

.tool-tip{
  background-color: transparent;
  border-color: transparent;
}

.tool-tip-label{
  margin-top: -1rem;
}

.tool-tip-font-awesome{
  margin-left: -.8rem;
  vertical-align: super;
}

