<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light light-purple">
  <a class="navbar-brand" href="#">
    <img src="../../assets/logo.svg" height="20" alt="../../assets/logoExtended.svg">
    <span class="d-inline-block align-top ml-2">
      <div class="collapse navbar-collapse">Facebook Messenger Analyzer
        <p></p>
      </div>
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarExample">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <app-data-upload></app-data-upload>
      </li>
    </ul>
  </div>
</nav>
<!-- Navbar -->
