<!--<div style="display: block">-->
  <!--<canvas baseChart-->
          <!--[data]="chart.data"-->
          <!--[labels]="chart.label"-->
          <!--[chartType]="chart.type"-->
          <!--(chartHover)="chartHovered($event)"-->
          <!--(chartClick)="chartClicked($event)"></canvas>-->
<!--</div>-->
