/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap-fluent/css/fluent.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}

.logo {
  height: 200px;
  width: 200px;
  /*margin-top: -60px;*/
  margin-bottom: -130px;
}

/*@media screen and (max-width: 767px) {*/
  /*#main-img{*/
    /*background-image: "assets/logo/logo.svg";*/
  /*}*/
/*}*/

/*@media screen and (min-width: 768px) {*/
  /*#main-img{*/
    /*background-image: url(http://subtlepatterns.com/patterns/dark_embroidery.png);*/
  /*}*/
/*}*/
/*@media (min-width: 992px) {*/
  /*#main-img{*/
    /*background-image: url(http://subtlepatterns.com/patterns/paisley.png);*/
  /*}*/
/*}*/
/*@media (min-width: 1200px) {*/
  /*#main-img{*/
    /*background-image: url(http://subtlepatterns.com/patterns/paisley.png);*/
  /*}*/
/*}*/
