.loading-spinner {
  position:fixed;
  top: 50%;
  left: 50%;

  width:30em;
  height:18em;

  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/

  background-color: transparent;
}

.loading-overlay {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.4);
}
