<div class="loading-overlay" *ngIf="dataService.loading">
  <div class="progress-cover loading-spinner">
    <div class="progress-fluent-line progress-default progress-medium">
      <span class="progress-span"></span>
      <span class="progress-span"></span>
      <span class="progress-span"></span>
      <span class="progress-span"></span>
      <span class="progress-span"></span>
    </div>
  </div>
  <!--<div class="progress progress-fluent my-3">-->
    <!--<div class="progress-bar" role="progressbar" style="width: {{dataService.loadingStatus}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>-->
  <!--</div>-->
</div>



